@import '../../utils/colors.scss';

.navbar {
  display: flex;
  height: 50px;
  justify-content: center;
  background-color: white;
  width: 100%;
  padding: 10px;

  &__header {
    margin-left: 10px;
    font-size: 24px;
    font-weight: 700;
    user-select: none;
    &-l {
      display: block;
    }
    &-sm {
      display: none;
    }
  }

  &__login {
    margin-left: auto;
    margin-right: 20px;
    cursor: pointer;
  }
  &__search {
    width: 200px;
    margin-left: 50px;
  }
  &__avatar {
    width: 35px;
    height: 35px;
    object-fit: cover;
    border-radius: 50%;
  }
}

.container {
  width: 1140px;
  display: flex;
  align-items: center;
}



@media screen and (max-width: 750px) {
  .navbar{
    &__header {
      &-l{
        display: none;
      }      
      &-sm{
        display: block;
      }
    }
  }
}