@import '../utils/colors.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
  color: $font-color;
}

body {
  background: $background-color;
}
#root {
  width: 100%;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrap {
  max-width: 1120px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.btn {
  cursor: pointer;
  &-default {
    font-size: 14px;
    padding: 5px 10px;
    border: 1px solid $font-color;
    border-radius: 3px;
  }
  &-back {
    background: url('../assets/img/btn-back.svg')  no-repeat center center ;
    background-size: 20px;
    border-radius: 20px;
    width: 40px;
    height: 30px;
  }
}
